<h1>
  {{"Hello Earth"}}
</h1>
<app-navigation titre="machin"></app-navigation>
<app-navigation>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, veritatis! 
    Enim iusto voluptate provident unde accusantium facere non amet magni?
  </p>
</app-navigation>
<app-navigation></app-navigation>
<app-navigation></app-navigation>
<app-navigation></app-navigation>
<main>
  <article>
    <h2>
      Coucou tu veux voir ma BIP ... !
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Laudantium quia magni provident repellendus nobis aspernatur ratione sed facilis voluptas rerum.
    </p>
    <p>
      <input type="text" [(ngModel)]="aragorn.nom">
    </p>
    <p>
      <input type="text" [(ngModel)]="title">
    </p>
    <p>
      <input type="text" [(ngModel)]="title">
    </p>
    <p>
      <input type="text" [(ngModel)]="title">
    </p>
    <p>
      <input type="text" [(ngModel)]="title">
    </p>
    
      <span>{{aragorn.nom}}</span>
      <ul>
        <li *ngFor="let arme of aragorn.armes">{{arme}}</li>
      </ul>
    
  </article>
</main>